body{
    background: url("https://cdn.steamstatic.com/steamcommunity/public/images/items/997070/e2968d89827bd2a5d3772ef7c895cb10a52d80ba.jpg") center center cover no-repeat fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}           

.heading{
    width: 1132px;
    height: 80px;
    margin-left: 380px;
    margin-top: 175px;
    background: green;
}

.heading h1{
    position: absolute;
    margin-left: 430px;
    color: white;
    margin-top: 15px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1132px;
    height: 700px;
    background: rgba(16, 0, 0, 0.66);
    margin-left: 380px;
}

h2{
    margin-left: 120px;
    margin-top: 50px;
    color: white;
}

.first{
    margin-left: 60px;
}

.firstimage{
   margin-left: 0px;
   margin-top: 40px;
}

.second{
    margin-left: 50px;
}

.secondimage{
    margin-top: 40px;
}

.image{
    width: 125px;
    height: 125px;
    border-radius: 5px 5px 0px 0px;
    margin-left: 20px;
    margin-top: 25px;
}
